<header>
    <a class="homelink" rel="home" title="prettypyplot home" href="https://braniii.gitlab.io/prettypyplot">
        <img src="/prettypyplot/gallery/logo.png" alt=""> prettypyplot
    </a>
</header>
